- entity_list_card = EntityListCard.new list, list_id

- study = list.study
- if list.study and TSV === list.study.sample_info and list.study.sample_info.fields.length > 0
  - entity_list_card.description do
    - sample_info = list.study.sample_info
    - genotyped_samples = study.genotyped_samples
    - if genotyped_samples.any?
      - sample_info.add_field("Genotyped") do |sample,values|
        - genotyped_samples.include? sample
    - cnv_samples = study.cnv_samples
    - if cnv_samples.any?
      - sample_info.add_field("CNV") do |sample,values|
        - cnv_samples.include? sample
    - if study.matrices.any?
      - study.matrices.each do |matrix|
        - matrix_samples = study.matrix(matrix).samples
        - sample_info.add_field("Matrix #{ matrix }") do |sample,values|
          - matrix_samples.include? sample

    %p #{list.length} samples

    = fragment do
      = table :table_id => "Clinical features of #{ list_id }" do
        - sample_info.select do |k,v| 
          - ([k,v].flatten & list).any?

- entity_list_card.action_controller = default_action_controller list, list_id

= entity_list_card_render entity_list_card


