- entity_card = EntityCard.new(entity)
- entity_card.name = entity
- entity_card.long_name = entity.study
- entity_card.description do
  = fragment do
    - sample = entity
    - list_container = ListContainer.new
    - if sample.has_genotype?
      - list_container.add "All mutations in #{ entity }", sample.mutations, "Mutations" 
      - list_container.add "Altered genes in #{ entity }", sample.get_genes(:altered), "Altered genes"
      - list_container.add "Damaged genes in #{ entity }", sample.get_genes(:damaged), "Damaged genes"
      - list_container.add "Broken genes in #{ entity }", sample.get_genes(:broken), "Broken genes"

    = partial_render('entity_partials/list_container', :container =>  list_container)
 
- entity_card.action_controller = default_action_controller entity

= entity_card_render entity_card
